body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .login-display {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 400px;
    max-width: 90%;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
    text-align:center;
    font-size: 2rem;
  }
  
  form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  span {
    margin-bottom: 20px;
    color: #666;
    text-align: center;
    font-size: 1rem;
  }
  
  .input-container {
    margin-bottom: 20px;
    
  }
  
  input {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
  }
  
  .input-container input:focus {
    outline: none;
    border-bottom-color: #007bff;
  }
  
  button[type="submit"]{
    padding: 15px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
    /* margin: 0 4rem; */
    box-sizing: border-box;
  }
  
  button[type="submit"]:hover {
    background-color: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  #forgot-password {
    text-align: center;
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 35px;
  }
  
  #forgot-password:hover {
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .signup-link a:hover {
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .login-display >button{
    width: fit-content;
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
}