<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login-display">
    <h2>Login</h2>

    <form id="login">
        <span>log-in to your account</span>
        <div class="email">
            <input for="email" id="email" type="email"  placeholder="Email"required>
        </div>
        <div class="password">
            <input for="password" id="password" type="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/views/forgot-password.html" id="forgot-password">Forgot password</a>
    <button><a href="/views/signup.html" >New user - signup</a></button>
</div>
</body>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

<script src="/js/login.js"></script>
</html>